Service References/PostCodeServiceReference/PostCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PostCode.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PostCode.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddressResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Avenue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FloorNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseNo" type="xs:double" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Parish" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreAvenue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SideFloor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TownShip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Village" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressResult" nillable="true" type="tns:AddressResult" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="StringResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StringResult" nillable="true" type="tns:StringResult" />
  <xs:complexType name="PhoneResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrePhoneNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhoneResult" nillable="true" type="tns:PhoneResult" />
  <xs:complexType name="PositionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Latitude" type="xs:double" />
          <xs:element minOccurs="0" name="Longitude" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionResult" nillable="true" type="tns:PositionResult" />
  <xs:complexType name="PhoneAddressResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrePhoneNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhoneAddressResult" nillable="true" type="tns:PhoneAddressResult" />
  <xs:complexType name="DataResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Latitude" type="xs:double" />
          <xs:element minOccurs="0" name="Longitude" type="xs:double" />
          <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrePhoneNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataResult" nillable="true" type="tns:DataResult" />
  <xs:complexType name="BooleanResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BooleanResult" nillable="true" type="tns:BooleanResult" />
  <xs:complexType name="ActivityCodeResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeCode2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeCode3" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityCodeResult" nillable="true" type="tns:ActivityCodeResult" />
  <xs:complexType name="CertificateResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CertificateNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CertificateUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CertificateResult" nillable="true" type="tns:CertificateResult" />
  <xs:complexType name="WorkshopResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkshopResult" nillable="true" type="tns:WorkshopResult" />
</xs:schema>