Service References/PostCodeServiceReference/PostCode1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.30.106.20:8080/api2/v1/PostCode.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PostCode.WebServices" />
  <xs:element name="GetAddressByPostcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByPostcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetAddressByPostcodeResult" nillable="true" type="q1:AddressResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressStringByPostCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressStringByPostCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetAddressStringByPostCodeResult" nillable="true" type="q2:StringResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoneByPostcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoneByPostcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetPhoneByPostcodeResult" nillable="true" type="q3:PhoneResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionByPostcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionByPostcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetPositionByPostcodeResult" nillable="true" type="q4:PositionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressAndPhoneByPostcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressAndPhoneByPostcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetAddressAndPhoneByPostcodeResult" nillable="true" type="q5:PhoneAddressResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByPostcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByPostcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetDataByPostcodeResult" nillable="true" type="q6:DataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostcodeByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostcodeByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetPostcodeByPhoneResult" nillable="true" type="q7:StringResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetAddressByPhoneResult" nillable="true" type="q8:AddressResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostcodeAndAddressByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostcodeAndAddressByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetPostcodeAndAddressByPhoneResult" nillable="true" type="q9:AddressResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetPositionByPhoneResult" nillable="true" type="q10:PositionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePostCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePostCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="ValidatePostCodeResult" nillable="true" type="q11:BooleanResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByCertificateNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="certificateNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByCertificateNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetDataByCertificateNoResult" nillable="true" type="q12:DataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityCodeByPostCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityCodeByPostCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetActivityCodeByPostCodeResult" nillable="true" type="q13:ActivityCodeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityCodeByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityCodeByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetActivityCodeByPhoneResult" nillable="true" type="q14:ActivityCodeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GenerateCertificateResult" nillable="true" type="q15:CertificateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostCodeByAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostCodeByAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetPostCodeByAddressResult" nillable="true" type="q16:StringResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkshopDataByPostcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkshopDataByPostcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetWorkshopDataByPostcodeResult" nillable="true" type="q17:WorkshopResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkshopDataByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkshopDataByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PostCode.WebServices" minOccurs="0" name="GetWorkshopDataByPhoneResult" nillable="true" type="q18:WorkshopResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>